.wait {
  background: DARKBlue;
  box-shadow: 0 0 1px rgba(0, 0, 139, 0.25);
  width: 62.5%;
  height: 100px;
  color: #fff;
}

.attack {
  background: DarkRed;
  box-shadow: 0 0 1px rgba(139, 0, 0, 0.25);
  width: 62.5%;
  height: 100px;
  color: #fff;
}

.retreat {
  background: DarkGreen;
  box-shadow: 0 0 1px rgba(0, 100, 0, 0.25);
  width: 62.5%;
  height: 100px;
  color: #fff;
}

.sassglobal {
  background: black;
}

.specialdisplay, .textdisplay {
  background: #222;
  color: #fff;
  font-family: "Baloo 2", sans-serif;
  font-size: 1.5rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.specialdisplay {
  color: #FFC000;
  font-size: 2rem;
}

.gallery {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 1rem;
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.gallery li {
  flex: 1 1 35rem;
  min-height: 10vh;
  max-height: 25vh;
}

.gallery li img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  transition: 120ms opacity ease-in-out;
}

.gallery li img:hover {
  opacity: 1;
}

.wait {
  background: DARKBlue;
  box-shadow: 0 0 1px rgba(0, 0, 139, 0.25);
  width: 62.5%;
  height: 100px;
  color: #fff;
}

.attack {
  background: DarkRed;
  box-shadow: 0 0 1px rgba(139, 0, 0, 0.25);
  width: 62.5%;
  height: 100px;
  color: #fff;
}

.retreat {
  background: DarkGreen;
  box-shadow: 0 0 1px rgba(0, 100, 0, 0.25);
  width: 62.5%;
  height: 100px;
  color: #fff;
}

.sassglobal {
  background: black;
}

.specialdisplay, .textdisplay {
  background: #222;
  color: #fff;
  font-family: "Baloo 2", sans-serif;
  font-size: 1.5rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.specialdisplay {
  color: #FFC000;
  font-size: 2rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  grid-gap: 2rem;
  box-sizing: border-box;
  font-family: "Baloo 2", sans-serif;
}
.grid + .grid {
  margin-top: 2rem;
}

.gridwrap {
  padding: 2rem;
}

.grid:nth-child(1) span {
  color: brown;
  margin-left: 40%;
  margin-right: 40%;
  box-shadow: inset 5px 5px 8px brown, inset -5px 5px 8px brown;
}

.grid:nth-child(2) span {
  color: brown;
  box-shadow: inset 5px 5px 8px white;
}

.grid:nth-child(2) span:nth-child(1), .grid:nth-child(3) span:nth-child(1) {
  margin-left: 30%;
}

.grid:nth-child(2) span:nth-child(2), .grid:nth-child(3) span:nth-child(2) {
  margin-right: 30%;
}

.grid:nth-child(2) span:nth-child(2) {
  color: brown;
  box-shadow: inset -5px 5px 8px white;
}

.grid:nth-child(3) span {
  color: green;
}

.grid:nth-child(4) span {
  color: orangered;
  margin-left: 25%;
  margin-right: 25%;
}

.grid:nth-child(5) {
  color: brown;
}

.grid:nth-child(5) span:nth-child(1) {
  margin-left: 12.5%;
}

.grid:nth-child(5) span:nth-child(4) {
  margin-right: 12.5%;
}

.grid:nth-child(6) span:nth-child(1), .grid:nth-child(6) span:nth-child(4),
.grid:nth-child(5) span:nth-child(3), .grid:nth-child(5) span:nth-child(2) {
  margin-left: 12.5%;
  margin-right: 12.5%;
}

.grid:nth-child(6) span:nth-child(3) {
  margin-left: 12.5%;
}

.grid:nth-child(6) span:nth-child(2) {
  margin-right: 12.5%;
}

.span {
  border: 2px dashed currentcolor;
  border-radius: 4px;
  min-height: 10vh;
  padding: 1rem;
  color: white;
  font-size: 3rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.span:hover {
  border: 2px solid violet;
  border-radius: 4px;
  padding: 1rem;
  color: violet;
  font-size: 3rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttonwrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

/*# sourceMappingURL=sassquatch.module.css.map */
